



<div class="container">
  <h2>Gerenciador de Tarefas</h2>

  <!-- 1. FORMULÁRIO DE CRIAÇÃO -->
  <section class="card-form">
    <h3>Criar Nova Tarefa</h3>


    <!-- Use (ngSubmit) no elemento <form> -->
    <form #formRef="ngForm" (ngSubmit)="cadastrarTarefa()">

      <div class="form-group">
        <label>Título:</label>
        <input type="text" name="titulo" [(ngModel)]="novaTarefa.titulo" required />
      </div>

      <div class="form-group">
        <label>Descrição:</label>
        <input type="text" name="descricao" [(ngModel)]="novaTarefa.descricao" />
      </div>

      <div class="form-row">

        <div class="form-group">
          <label>Status:</label>
          <select name="status" [(ngModel)]="novaTarefa.status">
            <option value="ABERTA">Aberta</option>
            <option value="EM_ANDAMENTO">Em Andamento</option>
            <option value="CONCLUIDA">Concluída</option>
          </select>
        </div>

        <div class="form-group">
          <label>Prioridade:</label>
          <select name="prioridade" [(ngModel)]="novaTarefa.prioridade">
            <option value="baixa">Baixa</option>
            <option value="media">Média</option>
            <option value="alta">Alta</option>
          </select>
        </div>


      </div>

      <button type="submit" class="btn-salvar">Criar Tarefa</button>


    </form>
  </section>

  <!-- 2. FILTROS DE BUSCA E BUSCA POR ID -->
  <section class="card-filtros">
    <h3>Filtrar e Buscar</h3>

    <div class="filtros-grid">
      <div class="filtro-item">
        <label>Status:</label>
        <select [(ngModel)]="filtroStatus" (change)="carregarTarefas()">
          <option value="">Todos</option>
          <option value="ABERTA">ABERTA</option>
          <option value="EM_ANDAMENTO">EM_ANDAMENTO</option>
          <option value="CONCLUIDA">CONCLUIDA</option>
        </select>
      </div>

      <div class="filtro-item">
        <label>Prioridade:</label>
        <select [(ngModel)]="filtroPrioridade" (change)="carregarTarefas()">
          <option value="">Todas</option>
          <option value="baixa">Baixa</option>
          <option value="media">Média</option>
          <option value="alta">Alta</option>
        </select>
      </div>

      <!-- BUSCA POR ID -->
      <div class="busca-id-item">
        <label>Buscar ID Específico:</label>
        <div class="input-btn">
          <input type="text" placeholder="UUID da tarefa" [(ngModel)]="buscaId" />
          <button type="button" (click)="buscarPorId()">Buscar</button>
        </div>
      </div>
    </div>

    @if (tarefaDetalhes) {
    <div *ngIf="tarefaDetalhes" class="resultado-id">
      <div class="resultado-header">
        <h4>Resultado da Busca por ID:</h4>
        <button (click)="limparBuscaId()">Fechar</button>
      </div>
      <p><strong>ID:</strong> {{ tarefaDetalhes.id }}</p>
      <p><strong>Título:</strong> {{ tarefaDetalhes.titulo }}</p>
      <p><strong>Descrição:</strong> {{ tarefaDetalhes.descricao }}</p>
      <p><strong>Status:</strong> {{ tarefaDetalhes.status }} | <strong>Prioridade:</strong> {{
        tarefaDetalhes.prioridade }}</p>
    </div>
    }
  </section>

  <!-- 3. LISTA DE TAREFAS -->
  <section class="card-lista">
    <h3>Lista de Tarefas</h3>

    <div class="grid-tarefas">
      @for (tarefa of tarefas; track tarefa.id) {

      <div class="card">

        <div class="card-tarefa" [class]="tarefa.prioridade">

          <div class="header-tarefa">
            <h4>{{ tarefa.titulo }}</h4>
          </div>

          <p>{{ tarefa.descricao }}</p>

          <div class="footer-tarefa">
            <span class="badge status"> Status: {{ tarefa.status }}</span>
            <span class="badge prioridade">Prioridade: {{ tarefa.prioridade }}</span>
          </div>
          <small class="id-texto">ID: {{ tarefa.id }}</small>

        </div>

        <div class="header-btn">


          <button class=" btn-editar" (click)="abrirModalEdicao(tarefa)">✏️ Editar</button>

          <button class=" btn-deletar" *ngIf="authService.getRole() === 'admin'" (click)="excluirTarefa(tarefa.id)">
            Excluir
          </button>

          <!-- <button class="btn-deletar" (click)="excluirTarefa(tarefa.id)">🗑️ Excluir</button> -->
        </div>

      </div>

      } @empty {
      <p class="sem-tarefas">Nenhuma tarefa encontrada.</p>
      }
    </div>
  </section>







  <div class="dashboard-graficos">

    <!-- GRÁFICO DE DISCO (STATUS) -->
    <div class="card-grafico">
      <h3>Tarefas por Status</h3>
      <div class="chart-container">
        <canvas baseChart [data]="doughnutChartData" [options]="doughnutChartOptions" [type]="'doughnut'"
          (chartClick)="aoClicarStatus($event)">
        </canvas>
      </div>
    </div>

    <!-- GRÁFICO DE BARRAS (PRIORIDADE) -->
    <div class="card-grafico">
      <h3>Tarefas por Prioridade</h3>
      <div class="chart-container">
        <canvas baseChart [data]="barChartData" [options]="barChartOptions" [type]="'bar'"
          (chartClick)="aoClicarPrioridade($event)">
        </canvas>
      </div>
    </div>

  </div>

</div>







<!-- ============================================================== -->
<!-- ESTRUTURA DO MODAL DE EDIÇÃO -->
<!-- ============================================================== -->
@if (exibirModalEditar) {
<div class="modal-overlay" (click)="fecharModalEdicao()">
  <!-- (click.stop) impede que clicar dentro da caixa feche o modal -->
  <div class="modal-content" (click)="$event.stopPropagation()">
    <div class="modal-header">
      <h3>Editar Tarefa</h3>
      <button type="button" class="btn-fechar" (click)="fecharModalEdicao()">&times</button>
    </div>

    <form (ngSubmit)="salvarEdicaoModal()">
      <div class="form-group">
        <label>Título:</label>
        <input type="text" name="modalTitulo" [(ngModel)]="tarefaParaEditar.titulo" required />
      </div>

      <div class="form-group">
        <label>Descrição:</label>

        <input type="text" name="modalDescricao" [(ngModel)]="tarefaParaEditar.descricao" />
      </div>

      <div class="form-row">
        <div class="form-group">
          <label>Status:</label>
          <select name="modalStatus" [(ngModel)]="tarefaParaEditar.status">
            <option value="ABERTA">Aberta</option>
            <option value="EM_ANDAMENTO">Em Andamento</option>
            <option value="CONCLUIDA">Concluída</option>
          </select>
        </div>

        <div class="form-group">
          <label>Prioridade:</label>
          <select name="modalPrioridade" [(ngModel)]="tarefaParaEditar.prioridade">
            <option value="baixa">Baixa</option>
            <option value="media">Média</option>
            <option value="alta">Alta</option>
          </select>
        </div>
      </div>

      <div class="modal-actions">
        <button type="button" class="btn-cancelar" (click)="fecharModalEdicao()">Cancelar</button>
        <button type="submit" class="btn-salvar">Salvar Alterações</button>
      </div>
    </form>
  </div>
</div>
}