

<div class="login-container">
  <h1>Acesso ao Sistema</h1>

  <!-- O (submit) no form evita o reload da página e executa a função fazerLogin() -->
  <form (submit)="fazerLogin()">

    <div class="form-group">
      <!-- O atributo 'for' associado ao 'id' do input resolve a associação da label -->
      <label for="emailInput">E-mail:</label>

      <input
        id="emailInput"
        type="email"
        [(ngModel)]="email"
        name="email"
        autocomplete="username"
        required
      >
    </div>

    <div class="form-group">
      <label for="senhaInput">Senha:</label>

      <input
        id="senhaInput"
        type="password"
        [(ngModel)]="senha"
        name="senha"
        autocomplete="current-password"
        required
      >
    </div>

    <!-- type="submit" para disparar o evento de submissão do formulário -->
    <button type="submit">Entrar</button>
  </form>

  <p *ngIf="erro" class="mensagem-erro">{{ erro }}</p>
</div>

